<h1 class="text-5xl font-bold">Expense Creation</h1>

<form class="flex flex-col items-center" [formGroup]="createExpenseForm" (submit)="createExpense()">
    <label class="form-control w-full max-w-xs" for="name">
        <div class="label">
            <span class="label-text">Name</span>
        </div>
        <input formControlName="name" id="name" type="text" class="input input-bordered w-full max-w-xs" required="required"/>
    </label>

    <label class="form-control w-full max-w-xl mt-4" for="amount">
        <div class="label">
            <span class="label-text">Amount</span>
        </div>

        <div class="input input-bordered flex items-center gap-2 w-full max-w-xl">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 opacity-70">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>

            <input formControlName="amount" id="amount" type="text" class="grow" required="required"/>
        </div>
    </label>

    <div class="flex gap-4 mt-4">
        <a [routerLink]="['/properties', 'detail', propertyId()]" class="btn btn-error">Cancel</a>
        <button type="submit" class="btn btn-success">
            @if (isLoading()) {
                <span class="loading loading-spinner"></span>
            }
            Create
        </button>
    </div>
</form>
