<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">
                <ion-icon slot="icon-only" name="close"/>
            </ion-button>
        </ion-buttons>

        <ion-title>Add an expense</ion-title>

        <ion-buttons slot="end">
            <ion-button type="submit" form="create-expense" [strong]="true">Add</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form id="create-expense" [formGroup]="createExpenseForm" (ngSubmit)="create()">
        <ion-list lines="none">
            <ion-item>
                <ion-input
                    #descriptionInput
                    type="text"
                    name="description"
                    formControlName="description"
                    label="Description"
                    labelPlacement="stacked"
                    required="required"
                    errorText="The description is required"
                />
            </ion-item>

            <ion-item>
                <splitdumb-currency-selector
                    slot="start"
                    formControlName="currency"
                    [onlyButton]="true"
                />

                <ion-input
                    type="text"
                    name="amount"
                    formControlName="amount"
                    required="required"
                    errorText="The amount is required"
                />
            </ion-item>
        </ion-list>

        <ion-list lines="none" class="mt-3">
            @let member = otherMember();
            @if (undefined !== member) {
                <ion-radio-group formControlName="splitType" class="split-options">
                    <ion-radio [value]="expenseSplittingType.PAID_SPLIT_EQUALLY" class="split-option w-full">
                        <ion-button type="button" expand="full">
                            @if (createExpenseForm.controls.splitType.value === expenseSplittingType.PAID_SPLIT_EQUALLY) {
                                <ion-icon name="checkmark-outline" slot="start"/>
                            }
                            You paid, split equally.
                        </ion-button>
                    </ion-radio>
                    <ion-radio [value]="expenseSplittingType.OWED_FULL_AMOUNT" class="split-option w-full">
                        <ion-button type="button" expand="full">
                            @if (createExpenseForm.controls.splitType.value === expenseSplittingType.OWED_FULL_AMOUNT) {
                                <ion-icon name="checkmark-outline" slot="start"/>
                            }
                            You are owed the full amount.
                        </ion-button>
                    </ion-radio>
                    <ion-radio [value]="expenseSplittingType.OTHER_PAID_SPLIT_EQUALLY" class="split-option w-full">
                        <ion-button type="button" expand="full">
                            @if (createExpenseForm.controls.splitType.value === expenseSplittingType.OTHER_PAID_SPLIT_EQUALLY) {
                                <ion-icon name="checkmark-outline" slot="start"/>
                            }
                            {{ member.username }} paid, split equally.
                        </ion-button>
                    </ion-radio>
                    <ion-radio [value]="expenseSplittingType.OTHER_OWED_FULL_AMOUNT" class="split-option w-full">
                        <ion-button type="button" expand="full">
                            @if (createExpenseForm.controls.splitType.value === expenseSplittingType.OTHER_OWED_FULL_AMOUNT) {
                                <ion-icon name="checkmark-outline" slot="start"/>
                            }
                            {{ member.username }} is owed the full amount.
                        </ion-button>
                    </ion-radio>
                </ion-radio-group>
            } @else {
                <ion-item>
                    <splitdumb-payee-selector
                        formControlName="payee"
                        [group]="group()"
                    />
                </ion-item>
                <ion-item>
                    <p>Split equally</p>
                </ion-item>
            }
        </ion-list>
    </form>
</ion-content>
