<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="cancel()">
                <ion-icon slot="icon-only" name="close"/>
            </ion-button>
        </ion-buttons>

        <ion-title>Add an expense</ion-title>

        <ion-buttons slot="end">
            <ion-button type="submit" form="create-expense" [strong]="true">Add</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form id="create-expense" [formGroup]="createExpenseForm" (ngSubmit)="create()">
        <ion-list lines="none">
            <ion-item>
                <ion-input
                    #descriptionInput
                    type="text"
                    name="description"
                    formControlName="description"
                    label="Description"
                    labelPlacement="stacked"
                    required="required"
                    errorText="The description is required"
                />
            </ion-item>

            <ion-item>
                <splitdumb-currency-selector
                    slot="start"
                    formControlName="currency"
                    [onlyButton]="true"
                />

                <ion-input
                    type="text"
                    name="amount"
                    formControlName="amount"
                    required="required"
                    errorText="The amount is required"
                />
            </ion-item>
        </ion-list>
    </form>
</ion-content>
