<header class="flex">
    <h1 class="text-5xl font-bold">My Properties</h1>

    <a routerLink="/properties/create" class="btn btn-square ml-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
        </svg>
    </a>
</header>

<div class="flex flex-col gap-4 mt-4">
    @if (isLoading()) {
        <div class="card card-side bg-base-100 shadow-xl py-4">
            <figure>
                <div class="skeleton" style="height: 150px; width: 300px"></div>
            </figure>

            <div class="card-body">
                <div class="card-title skeleton h-4 w-28"></div>
                <div class="skeleton h-4 w-full"></div>
            </div>
        </div>
    }

    @if (!isLoading()) {
        @for (property of properties(); track property.id; ) {
            <div class="card card-side bg-base-100 shadow-xl py-4">
                <figure>
                    <img src="https://placehold.co/300x150" alt="Movie" class="rounded-lg" width="300" height="150"
                         class="property-image object-fill rounded-box"/>
                </figure>

                <div class="card-body flex-row justify-between">
                    <div>
                        <h2 class="card-title">
                            <a class="link link-hover" [routerLink]="['/properties', 'detail', property.id]" [attr.title]="'Inspect property \'' + property.name + '\''">
                                {{ property.name }}
                            </a>
                        </h2>
                        <p class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
                            </svg>

                            <span>{{ property.address }}</span>
                        </p>
                        <p class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>

                            <span>{{ property.rent }}</span>
                        </p>
                    </div>

                    <ul class="menu menu-horizontal bg-base-200 rounded-box self-center">
                        <li>
                            <a [routerLink]="['/properties', 'detail', property.id]" class="tooltip" [attr.data-tip]="'Inspect property \'' + property.name + '\''">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="h-5 w-5">
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/properties', 'detail', property.id]" fragment="expenses" class="tooltip" [attr.data-tip]="'Manage expenses for property \'' + property.name + '\''">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="h-5 w-5">
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <button type="button" class="tooltip" [attr.data-tip]="'Delete property \'' + property.name + '\''" (click)="deleteProperty(property.id)">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="h-5 w-5 text-error">
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        } @empty {
            <div class="card card-side bg-base-100 shadow-xl py-4 mt-6 border-2 border-accent-content border-dashed">
                <div class="card-body items-center">
                    <p>No properties found.</p>
                    <p><a routerLink="/properties/create" class="link link-primary">Add</a> your properties to start managing them.</p>
                </div>
            </div>
        }
    }
</div>

