<h1 class="text-5xl font-bold">Property list</h1>

<div class="flex flex-col gap-4 mt-4">
    @if (isLoading) {
        <div class="card card-side bg-base-100 shadow-xl py-4" (click)="loadProperties()">
            <figure>
                <div class="skeleton" style="height: 150px; width: 300px"></div>
            </figure>

            <div class="card-body">
                <div class="card-title skeleton h-4 w-28"></div>
                <div class="skeleton h-4 w-full"></div>
            </div>
        </div>
    }

    @if (!isLoading) {
        @for (property of properties(); track property.name;) {
            <div class="card card-side bg-base-100 shadow-xl py-4">
                <figure>
                    <img src="https://placehold.co/300x150" alt="Movie" class="rounded-lg" width="300" height="150"
                         class="property-image object-fill rounded-box"/>
                </figure>

                <div class="card-body flex-row justify-between">
                    <div>
                        <h2 class="card-title">{{ property.name }}</h2>
                        <p class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
                            </svg>

                            <span>{{ property.description }}</span>
                        </p>
                    </div>

                    <a routerLink="/" class="btn btn-primary self-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                        </svg>
                    </a>
                </div>
            </div>
        } @empty {
            <p>No properties</p>
        }
    }
</div>

