<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'/groups/' + group().id + '/detail'"/>
        </ion-buttons>

        <ion-title>{{ group().name }} settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
    <form id="update-group-settings" [formGroup]="updateGroupForm">
        <ion-list lines="none">
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col size="auto">
                            <splitdumb-icon-selector
                                class="w-full"
                                formControlName="icon"
                            />
                        </ion-col>

                        <ion-col>
                            <ion-input
                                #nameInput
                                type="text"
                                name="name"
                                formControlName="name"
                                label="Name of the group"
                                labelPlacement="stacked"
                                required="required"
                                errorText="The name is required"
                            />
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>

            <ion-item>
                <splitdumb-currency-selector
                    class="w-full"
                    formControlName="currency"
                    required="required"
                />
            </ion-item>

            <ion-item>
                <splitdumb-contacts-selector
                    class="w-full"
                    formControlName="members"
                />
            </ion-item>
        </ion-list>
    </form>


</ion-content>
