<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button/>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button routerLink="config">
                <ion-icon slot="icon-only" name="cog"/>
            </ion-button>
        </ion-buttons>

        <ion-title>{{ group().name }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content/>
    </ion-refresher>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ group().name }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        @for (expense of expenses(); track expense.id; ) {
            <ion-item>
                <ion-icon aria-hidden="true" color="danger" slot="start" name="pizza-outline" size="large"/>
                <ion-label>{{ expense.description }}</ion-label>
                <ion-badge slot="end">{{ expense.amount }}€</ion-badge>
            </ion-item>
        } @empty {
            <ion-item lines="none">
                <ion-label>No expenses in the group.</ion-label>
            </ion-item>
        }
    </ion-list>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="openModal()">
            <ion-icon name="add"/>
        </ion-fab-button>
    </ion-fab>
</ion-content>
