<header>
    <nav class="bg-gray-800">
        <div class="navbar mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="inset-y-0 left-0 flex items-center sm:hidden" *ngIf="isSessionInitialised()">
                <!-- Mobile menu button-->
                <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                        aria-controls="mobile-menu" aria-expanded="false" (click)="mainMenuOpen = !mainMenuOpen">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <!--
                      Icon when menu is closed.
                    -->
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                         *ngIf="!mainMenuOpen">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <!--
                      Icon when menu is open.
                    -->
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                         *ngIf="mainMenuOpen">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <a routerLink="/"><img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="ProperTea logo"></a>
                </div>

                <div class="hidden sm:ml-6 sm:block" *ngIf="isSessionInitialised()">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a routerLink="/dashboard" routerLinkActive="active-link" class="navbar-link rounded-md px-3 py-2 text-sm font-medium" ariaCurrentWhenActive="page">
                            Dashboard
                        </a>
                        <a routerLink="/properties" routerLinkActive="active-link" class="navbar-link rounded-md px-3 py-2 text-sm font-medium" ariaCurrentWhenActive="page">
                            My Properties
                        </a>
                    </div>
                </div>
            </div>

            <div class="flex-none" *ngIf="isSessionInitialised()">
                <div class="dropdown dropdown-end">
                    <button tabindex="0" class="btn btn-ghost btn-circle avatar" aria-expanded="false" aria-haspopup="true">
                        <span class="sr-only">Open user menu</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                        </svg>
                    </button>

                    <ul class="menu dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
                        role="menu"
                        aria-orientation="vertical"
                        aria-labelledby="user-menu-button"
                        tabindex="0">
                        <li><a routerLink="/account">Your Profile</a></li>
                        <li><a>Settings</a></li>
                        <li><button type="button" (click)="logOut()">Sign out</button></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu" *ngIf="mainMenuOpen && isSessionInitialised()">
            <div class="space-y-1 px-2 pb-3 pt-2">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a routerLink="/dashboard" routerLinkActive="active-link" class="navbar-link block rounded-md px-3 py-2 text-base font-medium" ariaCurrentWhenActive="page">
                    Dashboard
                </a>
                <a routerLink="/properties" routerLinkActive="active-link" class="navbar-link block rounded-md px-3 py-2 text-base font-medium" ariaCurrentWhenActive="page">
                    My Properties
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 pt-2 sm:pt-6 lg:pt-8">
    <router-outlet></router-outlet>
</div>
